.app {
  font-family: 'lato';
  display: flex;
  justify-content: center;
}

.user-input,
.result {
  flex: 1;
}

h3 {
  display: block;
}

.textarea {
  height: 500px;
  width: 80%;
  outline: none;
}

.convert-button {
  width: 220px;
  padding: 15px;
  margin: 0 30px;
  background-color:#ED7700;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 0;
  font-size: .5em;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}